.card {
    border: 2px solid red;
    width: 14rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 1rem;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: rgba(255,255,255,0.26);
    border: 7px solid var(--orange);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
  }
  .card span:nth-of-type(2){
    color: var(--gray);
    font-size: 14px;
  }
/* 
  @media screen and (max-width: 320px){
    .card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .card {
      flex-basis: calc(50% - 0.5rem);
      height: 202px;
      width: 187px;
      border: 5px solid red;
    }

  } */
  